<div class="col-xl-4 col-lg-12">
    <div class="card">
        <div class="card-header">
            <h4 class="card-title" id="heading-multiple-thumbnails">Profil Bilgileri Ve İstatistikler</h4>
            <a class="heading-elements-toggle">
                <i class="la la-ellipsis-v font-medium-3"></i>
            </a>
        </div>
        <div class="card-content">
            <div class="card-body">
                <p>Traversal Rezervasyon Web uygulamasının kullanıcı dashboard panelinde bulunmaktasınız. Aşağıda sizin ve acentamızın bazı istatistik bilgileri yer almaktadır. Bu istatistiklerin sizlerle beraber artmasını temenni ediyoruz. Yeni rotalarda görüşmek üzere!</p>
                <h4 class="card-title">İstatistikler</h4>
                <h6>Aktif Rezervasyon Sayınız : 4</h6>
                <h6>Geçmiş Rezervasyon Sayınız : 10</h6>
                <h6>Onay Bekleyen Rezervasyon Sayınız : 2</h6>
                <h6>Toplam Rota Sayınız : 6</h6>
                <h6>Rehber Sayınız : 6</h6>
                <h6>Toplam Misafir Sayınız : 1548</h6>
                <h6>Ortalama Puanımız : 8.97/10</h6>
            </div>
        </div>
    </div>
</div>