@model UpdateRoleViewModel
@{
    ViewData["Title"] = "UpdateRole";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Rol Düzenleme Sayfası</h2>

<form method="post">
    <input type="hidden" asp-for="RoleId" />
    <label>Rol Adı</label>
    <input type="text" class="form-control" asp-for="RoleName" />
    <br />
    <button class="btn btn-outline-success">Güncelle</button>
</form>