@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>


<h2>Şehir - Ülke İşlemleri</h2>
<br />
<br />
<button type="button" id="btngetlist" class="btn btn-outline-info">Şehir Listesi</button>
<button type="button" id="btngetbyid" class="btn btn-outline-primary">Şehir Getir</button>
<button type="button" id="btnaddcity" class="btn btn-outline-warning">Şehir Ekle</button>
<button type="button" id="btndeletecity" class="btn btn-outline-danger">Şehir Sil</button>
<button type="button" id="btnupdatecity" class="btn btn-outline-success">Şehir Güncelle</button>
<br />
<br />

<div id="citylist">
</div>
<br />

<div>
    <input type="text" id="txtid" placeholder="Şehir Id Değerini Giriniz" class="form-control" />
</div>
<br />
<div>
    <input type="text" id="txtcityid" placeholder="Silinecek Id Değerini Giriniz" class="form-control" />
</div>

<br />
<div id="destinationlistbyid">
</div>
<br />
<div>
    <input type="text" id="txtcity" placeholder="Şehir Adını Giriniz" class="form-control" />
    <br />
    <input type="text" id="txtdaynight" placeholder="Gün - Gece Sayısı" class="form-control" />
    <br />
    <input type="text" id="txtprice" placeholder="Fiyat" class="form-control" />
    <br />
    <input type="text" id="txtcapacity" placeholder="Konaklayacak Kişi Sayısı" class="form-control" />
</div>

<script>

    $("#btngetlist").click(function () {
        $.ajax({
            contentType: "application/json",
            dataType: "json",
            Type: "Get",
            url: "/Admin/City/CityList",
            success: function (func) {
                let w = jQuery.parseJSON(func);
                console.log(w);
                let tablehtml = "<table class=table table-bordered> <tr><th>Şehir Adı</th> <th>Gün-Gece</th> <th>Fiyat</th> </tr>";
                $.each(w, (index, value) => {
                    tablehtml += `<tr><td>${value.City}</td> <td>${value.DayNight}</td> <td>${value.Price} ₺</td> </tr>`
                });
                tablehtml += "</table>";
                $("#citylist").html(tablehtml);
            }
        });
    });


    $("#btnaddcity").click(function () {
        let cityValues = {
            City: $("#txtcity").val(),
            DayNight: $("#txtdaynight").val(),
            Price: $("#txtprice").val(),
            Capacity: $("#txtcapacity").val()
        };

        $.ajax({
            type: "POST",
            url: "/Admin/City/AddCityDestination/",
            data: cityValues,
            success: function (func) {
                let result = jQuery.parseJSON(func);
                alert("Şehir - Rota Başarılı Bir Şekilde Eklendi");
            }

        });
    });

    $("#btngetbyid").click(x => {
        let id = $("#txtid").val();

        $.ajax({
            contentType: "/application/json",
            dataType: "json",
            type: "Get",
            url: "/Admin/City/GetById/",
            data: { DestinationId: id },
            success: function (fun) {
                let result = jQuery.parseJSON(fun);
                console.log(result);
                let htmlstr = `<table class=table table-bordered><tr><th>Şehir Adı</th><th>Gün Gece</th><th>Fiyatı</th></tr><tr><td>${result.City}</td> <td>${result.DayNight}</td> <td>${result.Capacity}</td></tr></table>`;

                $("#destinationlistbyid").html(htmlstr);
            }
        });
    });

    $("#btndeletecity").click(x => {
        let id = $("#txtcityid").val();
        $.ajax({
            url: "/Admin/City/DeleteCity/" + id,
            type: "post",
            contentType: "application/json",
            dataType: "json",
            success: function (funn) {
                alert("Şehir Başarılı Bir Şekilde Silindi");
            }
        });
    });

</script>
