@model VisitorViewModel
@{
    ViewData["Title"] = "UpdateVisitor";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2>Api İle Ziyaretçi Güncelleme</h2>
<br />
<form method="post">
    <input type="hidden" asp-for="VisitorId" />
    <label>Ziyaretçi Adı</label>
    <input type="text" class="form-control" asp-for="Name" />
    <br />
    <label>Ziyaretçi Soyadı</label>
    <input type="text" class="form-control" asp-for="Surname" />
    <br />
    <label>Ziyaretçi Mail Adresi</label>
    <input type="text" class="form-control" asp-for="Mail" />
    <br />
    <label>Ziyaretçi Şehri</label>
    <input type="text" class="form-control" asp-for="City" />
    <br />
    <label>Ziyaretçi Ülkesi</label>
    <input type="text" class="form-control" asp-for="Country" />
    <br />
    <button class="btn btn-outline-success">Ziyaretçi Güncelle</button>
</form>

